:root {

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --button-border-radius: 35px;

    --font-raleway: 'Raleway', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-opensans);
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
}

.header__nav {
    display: flex;
}

.nav__link {
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    color: var(--color-grey);
    font-size: 0.6875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening__content {
    margin-top: 130px;
    text-align: center;
}

.opening__header1 {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.opening__description {
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening__image {
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 16px 65px;
    color: white;
    font-weight: bold;
    border-radius: var(--button-border-radius);
    border: none;
}

.button--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-border-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.button--large {
    padding: 22px 155px;
}

.statistics {
    margin-top: 100px;
}

.statistics__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__column {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-raleway);
    text-align: center;
}

.statistics__icon {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__image {
    position: absolute;
}

.statistics__column:nth-child(1) .statistics__icon {
    background-color: var(--color-redish);
}

.statistics__column:nth-child(1) .statistics__image {
    top: 0;
    left: 45%;
}

.statistics__column:nth-child(2) .statistics__icon {
    background-color: var(--color-primary);
}

.statistics__column:nth-child(2) .statistics__image {
    top: 15px;
    left: 47.5%;
}

.statistics__column:nth-child(3) .statistics__icon {
    background-color: var(--color-green);
}

.statistics__column:nth-child(3) .statistics__image {
    top: 5px;
    left: 50%;
}

.statistics__number {
    margin-top: 13px;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
}

.statistics__description {
    margin-top: 19px;
    color: var(--color-grey);
}